In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [57]:
dataset=pd.read_csv('Company_Data.csv')
dataset

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [6]:
dataset.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

## Converting Sales to category

In [58]:
data=dataset
data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [59]:
data['Sales']=pd.cut(x=data['Sales'],bins=[0,6,12,17],labels=['Low','Medium','High'],right=False)
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,Medium,138,73,11,276,120,Bad,42,17,Yes,Yes
1,Medium,111,48,16,260,83,Good,65,10,Yes,Yes
2,Medium,113,35,10,269,80,Medium,59,12,Yes,Yes
3,Medium,117,100,4,466,97,Medium,55,14,Yes,Yes
4,Low,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,High,138,108,17,203,128,Good,33,14,Yes,Yes
396,Medium,139,23,3,37,120,Medium,55,11,No,Yes
397,Medium,162,26,12,368,159,Medium,40,18,Yes,Yes
398,Low,100,79,7,284,95,Bad,50,12,Yes,Yes
399,Medium,134,37,0,27,120,Good,49,16,Yes,Yes

## Splitting data to temp variables

In [60]:
x_temp=data.iloc[:,1:]
y_temp=data.iloc[:,0]

In [61]:
x_temp

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,Bad,42,17,Yes,Yes
1,111,48,16,260,83,Good,65,10,Yes,Yes
2,113,35,10,269,80,Medium,59,12,Yes,Yes
3,117,100,4,466,97,Medium,55,14,Yes,Yes
4,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes
396,139,23,3,37,120,Medium,55,11,No,Yes
397,162,26,12,368,159,Medium,40,18,Yes,Yes
398,100,79,7,284,95,Bad,50,12,Yes,Yes
399,134,37,0,27,120,Good,49,16,Yes,Yes

In [62]:
x_temp=pd.get_dummies(x_temp)

In [18]:
x_temp

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

## Check the score for individual features

In [63]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

bestfeatures=SelectKBest(score_func=chi2,k=5)
fit=bestfeatures.fit(x_temp,y_temp)
# calculate the scores
dfscore=pd.DataFrame(fit.scores_)
# get column names into variable
dfcolumns=pd.DataFrame(x_temp.columns)
# concat 2 dataframe above
feat_col=pd.concat([dfcolumns,dfscore],axis=1)
feat_col.columns=['Specs','Score'] # Naming the DataFrame
print(feat_col.nlargest(5,'Score'))

            Specs       Score
4           Price  249.402227
2     Advertising  144.508146
1          Income   80.520134
5             Age   66.427476
8  ShelveLoc_Good   61.724317

In [64]:
x_temp.head()

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0

# Solve with Feature Scaling

   ## Bring every feature on the same scale except ShelveLoc as it is already between 0 and 1

In [79]:
tran_x=x_temp.loc[:,['Price','Advertising','Income','Age','ShelveLoc_Bad','ShelveLoc_Medium','ShelveLoc_Good']]
tran_x

,Price,Advertising,Income,Age,ShelveLoc_Bad,ShelveLoc_Medium,ShelveLoc_Good
0,120,11,73,42,1,0,0
1,83,16,48,65,0,0,1
2,80,10,35,59,0,1,0
3,97,4,100,55,0,1,0
4,128,3,64,38,1,0,0
...,...,...,...,...,...,...,...
395,128,17,108,33,0,0,1
396,120,3,23,55,0,1,0
397,159,12,26,40,0,1,0
398,95,7,79,50,1,0,0
399,120,0,37,49,0,0,1

In [66]:
y_temp

0      Medium
1      Medium
2      Medium
3      Medium
4         Low
        ...
395      High
396    Medium
397    Medium
398       Low
399    Medium
Name: Sales, Length: 400, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [80]:
tran_x

,Price,Advertising,Income,Age,ShelveLoc_Bad,ShelveLoc_Medium,ShelveLoc_Good
0,120,11,73,42,1,0,0
1,83,16,48,65,0,0,1
2,80,10,35,59,0,1,0
3,97,4,100,55,0,1,0
4,128,3,64,38,1,0,0
...,...,...,...,...,...,...,...
395,128,17,108,33,0,0,1
396,120,3,23,55,0,1,0
397,159,12,26,40,0,1,0
398,95,7,79,50,1,0,0
399,120,0,37,49,0,0,1

In [68]:
y_temp

0      Medium
1      Medium
2      Medium
3      Medium
4         Low
        ...
395      High
396    Medium
397    Medium
398       Low
399    Medium
Name: Sales, Length: 400, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

## Split Train and Test Data

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tran_x, y_temp, test_size = 0.3, random_state = 1)

In [82]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform(X_train)
sc.fit_transform(X_test)

array([[-0.83779853,  0.13860795,  0.36582658, -0.21404631,  1.90141648,
        -1.16316   , -0.51298918],
       [-2.65352209, -0.89175204,  0.33192759, -0.65799422, -0.52592371,
         0.85972695, -0.51298918],
       [-0.20624251, -0.74455776, -0.07486027,  0.10305934,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.38584126, -0.3029749 , -0.820638  , -0.59457309, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.24571476,  1.02177366,  1.14550331, -1.16536325, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.07006325,  1.02177366,  1.14550331,  1.1177974 , -0.52592371,
         0.85972695, -0.51298918],
       [ 0.85950827, -0.89175204, -0.24435521,  1.43490305, -0.52592371,
         0.85972695, -0.51298918],
       [-1.07463204, -0.89175204,  0.06073569, -0.91167873,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.56149277,  1.31616223,  1.04380634,  0.29332272,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.79832628,  0.72738509, -0.75284003,  1.62516644,  1.90141648,
        -1.16316   , -0.51298918],
       [ 2.71470408, -0.89175204, -1.49861777,  1.62516644, -0.52592371,
         0.85972695, -0.51298918],
       [-0.71938178, -0.89175204, -0.61724408,  0.73727063, -0.52592371,
         0.85972695, -0.51298918],
       [-1.03515979, -0.89175204, -1.05793092,  1.43490305, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.33317529, -0.3029749 , -0.10875925, -0.02378292,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.71938178, -0.15578062, -0.99013294, -1.22878438, -0.52592371,
         0.85972695, -0.51298918],
       [-0.60096503,  0.58019081, -0.14265824,  0.22990159, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.38584126, -0.89175204,  0.43362456,  0.03963821, -0.52592371,
         0.85972695, -0.51298918],
       [-1.74566031,  1.02177366,  1.51839218,  1.56174531,  1.90141648,
        -1.16316   , -0.51298918],
       [ 1.13581403, -0.74455776, -0.68504205,  0.73727063, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.346369  ,  0.43299652, -0.78673902,  0.54700724, -0.52592371,
         0.85972695, -0.51298918],
       [-0.32465927, -0.15578062,  1.07770533,  1.37148192, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.74109152, -0.89175204, -0.75284003, -0.08720405, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.18848   ,  1.90493938, -1.36302181,  0.80069176, -0.52592371,
         0.85972695, -0.51298918],
       [-0.36413152, -0.45016919,  1.58619015,  1.24463966, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.58320251,  1.02177366,  0.19633164, -0.08720405, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.346369  , -0.89175204,  1.51839218, -1.54589003, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.70161927,  0.72738509, -0.41385015, -0.02378292, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.70161927, -0.89175204,  0.50142253,  0.03963821, -0.52592371,
         0.85972695, -0.51298918],
       [-0.48254827,  0.58019081, -1.46471878,  0.16648046, -0.52592371,
         0.85972695, -0.51298918],
       [-0.75885403, -0.89175204,  1.24720027,  0.48358611,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.46478576, -0.89175204,  0.12853366,  1.05437627, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.46478576, -0.45016919, -0.14265824, -0.97509986,  1.90141648,
        -1.16316   , -0.51298918],
       [ 2.95153759,  0.13860795, -0.34605217, -1.67273228,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.62267476,  0.72738509,  1.72178611, -0.02378292, -0.52592371,
         0.85972695, -0.51298918],
       [-0.32465927, -0.89175204,  1.24720027,  1.1177974 , -0.52592371,
         0.85972695, -0.51298918],
       [-1.46935455,  1.46335652,  1.07770533,  0.92753402,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.52202052,  1.31616223,  0.84041241,  1.30806079,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.75885403, -0.89175204, -1.56641574,  0.73727063, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.68842555,  0.87457938, -1.43081979, -0.8482576 , -0.52592371,
         0.85972695, -0.51298918],
       [-0.87727078,  0.58019081, -0.21045622, -1.4824689 , -0.52592371,
         0.85972695, -0.51298918],
       [-0.44307602, -0.89175204, -0.37995116, -0.91167873, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.30689675, -0.89175204,  0.39972557, -1.03852099, -0.52592371,
         0.85972695, -0.51298918],
       [-2.41668858,  0.87457938,  1.28109926,  1.37148192, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.66214701, -0.89175204, -0.78673902,  1.49832418,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.62267476,  1.02177366,  0.16243265,  0.54700724, -0.52592371,
         0.85972695, -0.51298918],
       [-0.16677026, -0.89175204,  1.1794023 , -0.27746744, -0.52592371,
         0.85972695, -0.51298918],
       [-0.36413152,  0.28580224, -0.88843598, -1.16536325, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.14900775, -0.89175204,  0.80651343,  0.48358611,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.50425801,  0.58019081, -1.19352687,  1.1177974 , -0.52592371,
        -1.16316   ,  1.94935887],
       [ 1.37264754, -0.59736347,  1.51839218, -0.8482576 , -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.46478576, -0.89175204, -1.43081979,  0.10305934, -0.52592371,
         0.85972695, -0.51298918],
       [-1.3509378 , -0.89175204, -1.46471878, -1.10194212,  1.90141648,
        -1.16316   , -0.51298918],
       [-1.74566031, -0.89175204,  1.21330128, -1.67273228, -0.52592371,
         0.85972695, -0.51298918],
       [-1.90354932, -0.89175204,  1.41669521, -0.46773083, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.2674245 ,  1.02177366, -0.820638  ,  0.61042837, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.12729801,  0.72738509,  1.68788712,  0.86411289, -0.52592371,
         0.85972695, -0.51298918],
       [-2.10091057, -0.89175204, -1.19352687, -0.97509986, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.1095355 , -0.89175204, -0.51554711, -0.78483647, -0.52592371,
         0.85972695, -0.51298918],
       [-1.39041005, -0.89175204, -1.02403193,  1.18121853,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.08782576,  0.13860795,  0.6031195 , -0.08720405, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.32465927, -0.89175204,  1.31499825,  0.42016498, -0.52592371,
         0.85972695, -0.51298918],
       [-0.04835351,  1.16896795, -0.24435521, -0.4043097 , -0.52592371,
         0.85972695, -0.51298918],
       [ 0.50425801,  0.72738509, -0.21045622,  0.16648046, -0.52592371,
        -1.16316   ,  1.94935887],
       [-1.03515979,  2.05213366, -0.41385015,  1.56174531,  1.90141648,
        -1.16316   , -0.51298918],
       [ 1.13581403, -0.74455776, -1.26132485, -0.72141535, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.13581403, -0.00858633,  1.72178611, -1.16536325, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.89898052, -0.89175204, -1.19352687,  1.05437627, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.96473131,  3.37688223, -0.10875925, -0.02378292, -0.52592371,
         0.85972695, -0.51298918],
       [-1.07463204, -0.89175204, -1.43081979, -1.73615341, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.74109152, -0.15578062,  1.65398813, -0.97509986,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.14900775,  0.87457938, -0.24435521, -1.79957454, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.25423078,  0.58019081, -1.46471878,  0.35674385, -0.52592371,
         0.85972695, -0.51298918],
       [-0.99568754,  1.6105508 ,  1.11160432,  0.61042837, -0.52592371,
         0.85972695, -0.51298918],
       [-0.04835351,  1.16896795,  0.16243265,  1.24463966, -0.52592371,
         0.85972695, -0.51298918],
       [-0.87727078, -0.3029749 ,  0.8743114 , -0.21404631, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.16677026, -0.89175204, -0.99013294, -1.67273228, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.30689675, -0.89175204, -0.51554711,  0.29332272,  1.90141648,
        -1.16316   , -0.51298918],
       [ 1.29370304,  1.31616223,  1.48449319,  0.80069176,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.78056377,  0.43299652,  0.63701849,  1.18121853, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.97792503, -0.89175204,  0.46752354, -0.34088857, -0.52592371,
         0.85972695, -0.51298918],
       [-0.48254827, -0.89175204, -1.29522384,  0.10305934, -0.52592371,
         0.85972695, -0.51298918],
       [-0.28518702, -0.89175204, -1.26132485,  1.62516644, -0.52592371,
         0.85972695, -0.51298918],
       [-0.79832628,  1.6105508 , -0.95623396,  0.03963821, -0.52592371,
         0.85972695, -0.51298918],
       [-1.19304879,  0.72738509, -1.36302181, -0.02378292, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.52202052, -0.89175204, -1.56641574,  0.6738495 , -0.52592371,
         0.85972695, -0.51298918],
       [-0.36413152, -0.89175204, -1.22742586, -1.73615341, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.37264754,  2.19932795, -0.10875925,  1.49832418,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.89898052, -0.15578062,  0.53532152, -1.29220551, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.30689675, -0.89175204, -0.17655723,  0.16648046,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.00888126, -0.45016919, -0.68504205, -0.15062518, -0.52592371,
         0.85972695, -0.51298918],
       [-1.82460481, -0.89175204, -0.27825419, -1.4824689 ,  1.90141648,
        -1.16316   , -0.51298918],
       [ 1.17528628, -0.89175204,  1.07770533, -0.72141535, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.03059099, -0.89175204,  1.41669521,  1.68858757, -0.52592371,
         0.85972695, -0.51298918],
       [-0.60096503, -0.89175204, -1.49861777, -0.53115196, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.7278978 , -0.15578062, -1.60031473,  0.86411289, -0.52592371,
         0.85972695, -0.51298918],
       [-0.67990953, -0.74455776,  0.33192759, -0.53115196, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.346369  ,  0.87457938, -0.68504205, -1.10194212, -0.52592371,
         0.85972695, -0.51298918],
       [ 1.57000879,  2.78810509,  0.2980286 , -0.65799422, -0.52592371,
         0.85972695, -0.51298918],
       [-0.60096503,  0.28580224,  1.65398813, -1.10194212,  1.90141648,
        -1.16316   , -0.51298918],
       [ 0.46478576, -0.15578062,  0.77261444,  0.80069176, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.89898052, -0.3029749 ,  0.50142253, -1.60931115, -0.52592371,
        -1.16316   ,  1.94935887],
       [-2.49563309, -0.89175204,  1.28109926, -0.08720405, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.00888126, -0.45016919, -1.46471878,  1.49832418, -0.52592371,
         0.85972695, -0.51298918],
       [-0.36413152, -0.89175204,  1.68788712,  0.6738495 , -0.52592371,
         0.85972695, -0.51298918],
       [ 0.1095355 , -0.45016919, -0.07486027, -0.53115196, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.62267476,  0.87457938, -0.00706229, -0.15062518,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.48254827,  0.58019081,  0.73871545, -1.41904777, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.14900775,  1.75774509,  0.26412962, -1.54589003, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.54373026, -0.89175204, -0.17655723,  0.61042837, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 1.57000879,  0.58019081,  1.24720027,  1.18121853, -0.52592371,
        -1.16316   ,  1.94935887],
       [ 0.46478576,  0.28580224,  0.8743114 ,  0.6738495 , -0.52592371,
         0.85972695, -0.51298918],
       [ 0.346369  , -0.89175204, -0.24435521, -0.78483647, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.42531351,  2.6409108 ,  0.2980286 , -1.10194212, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.64043728, -0.89175204, -1.29522384, -1.73615341, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.58320251, -0.89175204,  0.50142253, -0.91167873,  1.90141648,
        -1.16316   , -0.51298918],
       [-0.36413152,  0.72738509, -0.75284003,  1.68858757, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.89898052,  0.58019081, -0.61724408,  0.42016498, -0.52592371,
        -1.16316   ,  1.94935887],
       [-0.60096503, -0.89175204, -0.5494461 ,  0.48358611, -0.52592371,
         0.85972695, -0.51298918],
       [-1.19304879, -0.89175204, -0.58334509, -0.46773083, -0.52592371,
         0.85972695, -0.51298918],
       [ 0.46478576,  1.6105508 ,  1.34889724, -1.29220551, -0.52592371,
        -1.16316   ,  1.94935887]])

## Try with different estimators and max_depth

In [105]:
from sklearn.ensemble import RandomForestClassifier
# Default values
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [106]:
y_pred = classifier.predict(X_test)

### Confusion Matrix

In [107]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 3  0  6]
 [ 0 21 16]
 [ 3 11 60]]

0.7

In [117]:
# estimator 100 max depth 5
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 0,max_depth=5)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=5, random_state=0)

In [118]:
y_pred = classifier.predict(X_test)

In [119]:
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 1  0  8]
 [ 0 19 18]
 [ 1  6 67]]

0.725

## Gini

In [120]:
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'gini', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [121]:
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 2  0  7]
 [ 0 20 17]
 [ 3 11 60]]

0.6833333333333333

In [123]:
classifier = RandomForestClassifier(n_estimators = 100, criterion = 'gini', random_state = 0,max_depth=5)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 1  0  8]
 [ 0 19 18]
 [ 0  8 66]]

0.7166666666666667